.border{
    border: 1px solid black;
}
.hero-img-wrapper{
    margin:52px 0 0px 65px;
}
.hero-img{
    width: 350px;
    border-radius: 195px;
    border: 20px solid black;
}
h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
  }

.skills h3{
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0;
}
.progress{
    width: 100%;
    border:3px solid orange;
    height: 23px;
}